{
  "log": {
    "loglevel": "warning",
    "access": "/var/log/xray/access.log",
    "error": "/var/log/xray/error.log"
  },
  "inbounds": [
    {
      "tag": "vless-reality-in",
      "port": {{ xray_port }},
      "protocol": "vless",
      "settings": {
        "clients": [
          {
            "id": "{{ service_uuid }}"
          }
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "raw",
        "rawSettings": {},
        "security": "reality",
        "realitySettings": {
          "show": false,
          "dest": "127.0.0.1:{{ xray_fallback_port }}",
          "xver": 0,
          "serverNames": [
            "{{ foreignvm_domain }}"
          ],
          "privateKey": "{{ foreign_private_key }}",
          "shortIds": [
            "{{ foreign_short_id }}"
          ]
        }
      },
      "sniffing": {
        "enabled": true,
        "destOverride": [
          "http",
          "tls",
          "quic"
        ]
      }
    }
  ],
  "outbounds": [
    {
      "tag": "direct",
      "protocol": "freedom"
    },
    {
      "tag": "block",
      "protocol": "blackhole"
    }
  ],
  "routing": {
    "domainStrategy": "AsIs",
    "rules": [
      {
        "type": "field",
        "outboundTag": "block",
        "ip": [
          "geoip:private"
        ]
      }
    ]
  }
}
